<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit Tests" verbose="1" >

  <test name="Zeitgeist Core" >
    <packages>
      <package name="org.uncommons.zeitgeist" />
      <package name="org.uncommons.zeitgeist.filters" />
    </packages>
  </test>

  <test name="Zeitgeist Publisher" >
    <packages>
      <package name="org.uncommons.zeitgeist.publisher" />
    </packages>
  </test>

</suite>
